*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
ul.navbar-nav li.nav-item a.nav-link
{
    color:#000000;
    font-size: 20px;
}

#header
{
    background-image: url('images/demo-four-banner-bg-img.png');
    background-position: center;
    background-size: cover;
    height: 100vh;
    background-repeat: no-repeat;
}

.column {
    float: left;
    width: 25%;
    padding: 0 10px;
  }
  
  .container .image2{
    position: absolute;
    top: 39px;
    left: 189px;
  }
  /* Remove extra left and right margins, due to padding in columns */
  .row {margin: 0 -5px;}
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Style the counter cards */
  .card {
    box-shadow: rgba(187, 207, 227, 0.3) 0px 12px 48px 0px; /* this adds the "card" effect */
    padding: 16px;
    text-align: center;
    border: none;
    background-color: #f1f1f1;
  }
  
  /* Responsive columns - one column layout (vertical) on small screens */
  @media screen and (max-width: 600px) {
    .column {
      width: 100%;
      float:none ;
      display: block;
      margin-bottom: 20px;
    }
    .container .image2{
      position: absolute;
      top: 30px;
      left:20px !important ;
    }
  }
  
  .container .cont-four .card{
    background: #ffffff;
    margin: 0px 15px;
    padding: 35px 40px 37px;
  }

  .container .image2{
    position: absolute;
    top: 30px;
    left: 199px;
  }
  .nav-item .fa{
    margin: 10px;
    font-size: 25px;
  }

  .container-four .card{
    background: #ffffff;
    margin: 0px, 20px ,0px, 0px;
    padding: 20px, 10px;

  }
  
 .container-fluid .card{
  background: #ffffff;
 }
 .container-fluid .header2{
    background-image: url('images/SERVICE-1.png ');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 66% auto;
    opacity: 1;
    transition: background .3s,border-radius .3s,opacity .3s;
    height:70vh;
 }
 .container .image-g{
 position: absolute;
 top: -93px;
 left: -103px;
 }
.container .image-b{
  position: absolute;
  top: 230px;
  left: -103px;
  }
.container .image-m{
  position: absolute;
  bottom: 0px;
  left: 350px;
  }

  .ready {
    border-radius: 35px;
    background: #EA4F3C;
    /* padding: 100px;
     */
     padding-top: 50px;
     padding-bottom: 50px;
     padding-left: 60px;
     padding-right: 60px;
    width: 100%;
    height: 30vh;
  }
  @media only screen and (max-width:700px){
    .ready {
      padding-left: 10px;
      padding-right: 10px;
    
    }
    .ready .inner-container {
      margin-top: 120px;
    }
  }

.ready .inner-container{
  color: #ffffff;
  box-sizing: border-box;
  text-align: left;
}
.ready .contact{
  position: absolute;
  right: 70px; 
}

.contact .btn{
  color: red;
  background-color: white;
}
.footer{
  background: rgba(0, 0, 0, 0.74);
  color: white;
}
.foooter .emails{
  background: #f5f5f5;
  border-radius: 50px;
  padding: 12px 0 12px 20px;
  border: 0;
  width: 110%;
  color: #9f9999;
}

.card-width{
  width: 250px;
}
.card-heigth{
 height: 250px;
}
.header_padding{
  padding-top: 250px;
}
/* ------------------------Media Query -------------------------*/
@media(max-width : 768px){
  .header_padding{
    padding-top:30px;
  }
  .container-fluid .header2{
    display: block;
  }
  .ready .contact{
    display: block;
  }
  .card-width{
    height: 330px;
    width: 93%;
  }
  .ready .contact{
    position: absolute;
    right: 0px; 
  }
}


@media only screen and (max-width:789px){
  .hidden_in_sm{
    display: hidden !important;
  }
}
